.formulario_container {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  height: 100vh;
  /* padding: 4rem 0; */
  padding: 4rem 0;
}

.lista_menus {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: #222;
  border: 1px solid #222;
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem;
  align-items: center;
  max-width: 400px;
  width: 100%;
  gap: 20px;
}

.lista_menus a {
  font-size: 20px;
  padding: 1rem 3em;
  cursor: pointer;
  color: #222;
  text-decoration: none;
  font-weight: bold;
}

.lista_menus a:hover {
  color: #ffbb22;
}

.titulo_formulario {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #90d300;
  
}

.subtitulo_formulario span {
  color: #04709f;
  text-decoration: underline;
}

.card_formulario_container {
  display: flex;
  flex-direction: column;
  color: #222;
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem;
  align-items: center;
  max-width: 400px;
  width: 100%;
}

.informacoes_formulario {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 11px;
}

.informacoes_formulario input,
.nacionalidade_formulario,
.genero_formulario {
  border-radius: 10px;
  border: 1px solid #222;
  outline: none;
  padding: 10px;
  cursor: pointer;
  width: 233px;
}

.genero_formulario {
  display: flex;
  flex-direction: column;
}

.button_formulario {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_formulario button,
.conta_formulario button {
  width: 200px;
  height: 40px;
  background-color: #000000;
  border: none;
  color: #fff;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.6s ease-in-out;
}

.button_formulario:hover button {
  background-color: #222;
  color: #ffffff;
}

.logo_container {
  display: flex;
  align-items: center;
}



.formulario_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.titulo_formulario {
  text-align: center;
}

.logo_container img {
  max-width: 100px; /* Ajuste conforme necessário */
  height: auto;
}

.navigation_buttons {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.nav_button {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  border-radius: 15px;
  text-decoration: none;
  background-color: #3498db; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto do botão */
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #2980b9; /* Cor de fundo do botão ao passar o mouse */
  }
}

.active {
  background-color: #2c3e50; /* Cor de fundo quando o botão está ativo */
}
