.formulario_container {

  justify-content: center;
  background-color: #ffffff;
  
  /* padding: 4rem 0; */
}


.titulo_formulario {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #5eff00;
  
}

/* relatorioCliente.module.css */

.div_relatorio {
  display: flex;
  justify-content: center;
 
}

.ul_cards {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%; /* Ajuste para ocupar 80% da tela */
}

.li_cards {
  background-color: #e9e9e9;
  border-radius: 10px;
  margin: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.li_cards p {
  margin: 8px 0;
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
}

/* Se quiser uma sombra mais forte ao passar o mouse */
.li_cards:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.619);
}

.button_cards{
  background-color: #850f00;
    color: #ccc;
    border-radius: 6px;
    padding: 4px;
    width: 66px;
    border: white;
    font-weight: bold

}

.button_cards:hover{
  box-shadow: 0 7px 16px rgba(255, 0, 0, 0.615);

}

/* relatorioCliente.module.css */

.modal_exclusao {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  z-index: 1000;
  text-align: center;
}

.modal_exclusao p {
  margin-bottom: 20px;
}

.modal_botoes {
  display: flex;
  justify-content: center;
}

.modal_botoes button {
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #ff3333;
  color: #fff;
  border: none;
  border-radius: 5px;
}

/* Adicione mais estilos conforme necessário */
/* Adapte conforme necessário */

.button2_cards{
  background-color: #10c000;
    color: #ffffff;
    border-radius: 6px;
    padding: 4px;
    width: 100%;
    border: white;
    font-weight: bold

}

.button2_cards:hover{
  box-shadow: 0 7px 16px rgba(64, 255, 0, 0.615);

}

.modal_edicao {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:  rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 8px;
  z-index: 1000;
  text-align: center;
  color: #ffffff;
  /* Adicione mais estilos conforme necessário */
}

.form_edicao {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Adapte conforme necessário */
.buttons{
  justify-content: space-between;
  display: flex;
}


.div_adicionar{

  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  width: 80%;


}


.botao_adicionar{

  width: 128px;
  height: 39px;
  background: black;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  border: white;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);


}


.botao_adicionar:hover{
  box-shadow: 0 7px 16px rgba(255, 255, 255, 0.615);

}


.modal_cadastro {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  z-index: 1000;
  text-align: center;
}

.modal_cadastro p {
  margin-bottom: 20px;
}

.form_cadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_cadastro label {
  margin-bottom: 10px;
}

.form_cadastro input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #fff;
  border-radius: 5px;
}

.modal_botoes {
  display: flex;
  justify-content: center;
}

.modal_botoes button {
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto; /* Ajuste conforme necessário */
  height: 150px; /* Ajuste conforme necessário */

  border-radius: 15px;
  overflow: hidden;
  background-color: #f0f0f0; /* Cor de fundo da div */
}

.produtoImagem {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Para manter a proporção da imagem */
}

.icon {
  font-size: 40px; /* Tamanho do ícone */
  color: #555; /* Cor do ícone */
}


.modal_cadastro {
  padding: 2rem;
  border-radius: 8px;
  width: 80%; /* Ajuste conforme necessário */
  max-width: 400px; /* Defina uma largura máxima */
  text-align: center;
}

.modal_cadastro p {
  margin-bottom: 1.5rem; /* Espaçamento inferior reduzido */
}

.form_cadastro input {
  padding: 0.8rem;
  margin-bottom: 1.5rem;
}


.modal_cadastro p {
  margin-bottom: 1.5rem; /* Espaçamento inferior reduzido */
}

.form_cadastro input {
  padding: 0.8rem;
  margin-bottom: 1.5rem;
}


.button2_cards {
  background-color: #10c000;
  color: #ffffff;
  border-radius: 6px;
  padding: 8px; /* Ajuste conforme necessário */
  max-width: 150px; /* Defina uma largura máxima */
  width: 100%; /* Ocupa 100% da largura do contêiner pai */
  border: white;
  font-weight: bold;
}

.botao_adicionar {
  width: 100%; /* Ocupa 100% da largura do contêiner pai */
  max-width: 150px; /* Defina uma largura máxima */
  height: auto; /* Ajuste conforme necessário */
}


/* Estilos para a área de filtro */
.filter-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos para os campos de input de filtro */
.filter-input {
  margin-bottom: 10px;
  padding: 10px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

/* Estilos para o botão de filtro */
.filter-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
}

.filter-button:hover {
  background-color: #0056b3;
}